In [50]:
# Create a Python script for PyrBank that analyzes the records to calculate each of the following:
import os
import csv

import pandas as pd

# Store filepath in a variable
Py_Bank_Path = "C:/Users/dbruen/Documents/Data Analytics/CU Bootcamp Homework/03 Python HW/budget.csv"

pybank_df = pd.read_csv(Py_Bank_Path)
pybank_df.head()

     Date  Profit/Losses
0  Jan-10         867884
1  Feb-10         984655
2  Mar-10         322013
3  Apr-10         -69417
4  May-10         310503

In [29]:
# Calculate the total number of months included in the dataset

pybank_df["Date"].count()

86

In [30]:
# Calculate net total amount of "Profit/Losses" over the entire period

pybank_df["Profit/Losses"].sum()

38382578

In [49]:
#The average of the changes in "Profit/Losses" over the entire period
# First I must calculate the change over each monthly period
revenue_change =

SyntaxError: invalid syntax (<ipython-input-49-b5532606d649>, line 3)

In [46]:
#The greatest increase in profits (date and amount) over the entire period

In [35]:
#The greatest decrease in losses (date and amount) over the entire period